{{extend 'layout.html'}}
<script>
 /* create fogger namespace */
  window.fogger = {};
  window.fogger.api = '/fogger/default/api.json/';
  window.fogger.user = { id: {{=auth.user.id}} }
</script>
<div id="map-canvas"></div>

{{if (('test' in request.vars)|('mock' in request.vars)):}}
  <script src="/fogger/static/js/navigator.js"></script>
{{else:}}
  <script>
   window.fogger.navigator = navigator;
  </script>
{{pass}}

<script src="/fogger/static/js/distance.js"></script>
<script src="/fogger/static/js/map.js"></script>
<script>
  /* 
  * load the navigator module and trigger 
  * the loading of this module 
  */
  {{if 'mock' in request.vars:}}
    $(function(){
      fogger.navigator.init(function(){
        fogger.map.init();  
      });
    });
  {{else:}}
    $(function(){
      fogger.map.init();
    });
  {{pass}}
</script>
