</div> <!-- /container -->

  <!-- The javascript =============================================
       (Placed at the end of the document so the pages load faster) -->
  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLThK-EkRGd31qEySlFxv5VH1B2tKJyBg&sensor=true"></script>
  <script type="text/javascript" src="{{=URL('static', 'js/layout.js')}}"></script>
  <script type="text/javascript" src="{{=URL('static', 'js/d3.v3.js')}}"></script>


  <!-- JASMINE TESTING ENVIRONMENT GOES HERE -->
{{if 'test' in request.vars:}}
  <link rel="shortcut icon" type="image/png" href="{{=URL('static', 'jasmine/lib/jasmine-2.0.0/jasmine_favicon.png')}}">
  <link rel="stylesheet" type="text/css" href="{{=URL('static', 'jasmine/lib/jasmine-2.0.0/jasmine.css')}}">

  <script type="text/javascript" src="{{=URL('static', 'jasmine/lib/jasmine-2.0.0/jasmine.js')}}"></script>
  <script type="text/javascript" src="{{=URL('static', 'jasmine/lib/jasmine-2.0.0/jasmine-html.js')}}"></script>
  <script type="text/javascript" src="{{=URL('static', 'jasmine/lib/jasmine-2.0.0/boot.js')}}"></script>

  <!-- include SOURCE files
  <script type="text/javascript" src="{{=URL('static', 'jasmine/src/Player.js')}}"></script>
  <script type="text/javascript" src="{{=URL('static', 'jasmine/src/Song.js')}}"></script>
  -->

  <!-- include SPEC files -->
  <script type="text/javascript" src="{{=URL('static', 'jasmine/spec/'+request.controller+'/'+request.function+'Spec.js')}}"></script>

{{pass}}
<!--[if lt IE 7 ]>
      <script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
      <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
      <![endif]-->
  
  {{if response.google_analytics_id:}}
  <script src="{{=URL('static','js/analytics.min.js')}}"></script>
  <script type="text/javascript">
  analytics.initialize({
    'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'} 
  });</script>
  {{pass}}
<!-- 
  <script src="{{=URL('static','js/share.js',vars=dict(static=URL('static','images')))}}"></script>
 -->

</body>
</html>
